- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

- What is the average age of men?

- What is the percentage of people who have a Bachelor's degree?

- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

- What percentage of people without advanced education make more than 50K?

- What is the minimum number of hours a person works per week?

- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

- What country has the highest percentage of people that earn >50K and what is that percentage?

- Identify the most popular occupation for those who earn >50K in India.

In [5]:
import pandas as pd

df = pd.read_csv("adult.csv")

df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num',
    'marital_status', 'occupation', 'relationship', 'race', 'sex',
    'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'salary'
]

df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [9]:
df["race"].value_counts()

race
White                 27815
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# What is the average age of men?

In [10]:
df[df["sex"] == ' Male']["age"].mean()

np.float64(39.433567396392675)

# What is the percentage of people who have a Bachelor's degree?

In [11]:
p_bachelor = (df['education'] == ' Bachelors').sum() / len(df) * 100
print(p_bachelor)

16.443488943488944

# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [12]:
higher_education = df['education'].isin([' Bachelors', ' Masters', ' Doctorate'])
rich = df['salary'] == ' >50K'

advanced_edu_rich = (df[higher_education & rich].shape[0] / df[higher_education].shape[0]) * 100
print(advanced_edu_rich)

46.54205607476635

# What percentage of people without advanced education make more than 50K?

In [13]:
non_higher_edu = ~df['education'].isin([' Bachelors', ' Masters', ' Doctorate'])
rich_b = df["salary"] == " >50K"

c =(df[non_higher_edu & rich].shape[0] / df[non_higher_edu].shape[0]) * 100
print(c)

17.3713601914639

# What is the minimum number of hours a person works per week?

In [14]:
min_hours = df["hours_per_week"].min()
print(min_hours)

1

# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [15]:
min_hours = df["hours_per_week"] == 1
rich = df["salary"] == " >50K"

f = (df[min_hours & rich].shape[0] / df[min_hours].shape[0]) *100
print(f)

10.0

# What country has the highest percentage of people that earn >50K and what is that percentage?

In [16]:
rich = df['salary'] == ' >50K'

total_per_country = df["native_country"].value_counts()

rich_per_country = df[rich]["native_country"].value_counts()

p_rich_per_country = (rich_per_country / total_per_country) *100

top_country = p_rich_per_country .idxmax()
top_percent = round(p_rich_per_country .max(), 1)

print(top_country)
print(top_percent)

 Iran
41.9

# Identify the most popular occupation for those who earn >50K in India.

In [23]:
a = df["native_country"] == " India"
b = df["salary"] == " >50K"
c = df[a & b]

d = c["occupation"].value_counts().idxmax()

print(d)

 Prof-specialty